{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1 style="display: inline-block">Project creation</h1>
        <a href="{{ path('project_index') }}" class="pull-right"><span style="margin-top: 25px;" class="btn btn-default">Annuler</span></a>
        <hr />
        {% include 'project/form.html.twig' %}
    </div>
{% endblock %}

{% block script %}
    {{ parent() }}
    <script>
        $("#bin").fileinput();
        $("#srcs").fileinput({allowedFileExtensions: ["zip", "rar", "tar", "tar.gz"]});
    </script>
{% endblock %}